body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.nav-button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #777;
}

.search-input {
  padding: 5px;
  margin-left: 20px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  color: white;
  width: 300px;
}

/* Authentication form styles */
.auth-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 50px auto;
}

.input-field {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth-button {
  padding: 10px;
  margin: 10px 0;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

.auth-button:hover {
  background-color: #218838;
}

/* Movie List styles */
.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.movie-card {
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin: 10px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.movie-card:hover {
  transform: scale(1.05);
}

.poster-image {
  width: 100px; /* Adjust width as needed */
  height: auto;
  object-fit: cover;
}

.movie-details {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  flex: 1;
}

.movie-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favorite-button {
  background-color: transparent;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: inherit;
}

.favorite-button:hover .favorite-icon {
  color: #ff4081;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .movie-card {
    flex-direction: column;
  }

  .poster-image {
    width: 100%;
    height: auto;
  }

  .movie-details {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-input {
    width: 100%;
    margin: 10px 0;
  }

  .nav-button {
    width: 100%;
    margin: 5px 0;
  }
}
