body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

/* nav a {
  color: #fff;
  margin-right: 10px;
  text-decoration: none;
}

nav button {
  background-color: #444;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 5px 10px;
}

nav button:hover {
  background-color: #555;
} */

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px auto;
}

form input {
  margin-bottom: 10px;
  padding: 8px;
}

form button {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #444;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  padding: 20px;
}

.movie-item {
  width: 200px;
  text-align: center;
}

.movie-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.movie-item h3 {
  font-size: 1.2em;
  margin: 10px 0 5px;
}

.movie-item p {
  font-size: 1em;
  color: #555;
}
